//Variables
$font-size-base             : 1.6rem;
$font-weight-base           : 400;
$line-height-base           : 1.2;

$shell-max-width            : 114rem;
$shell-gutter               : 1.5rem;

$c-black                    : #000;
$c-white                    : #fff;
$c-base                     : #FF0336;
$c-dark                     : #3f3f3f;
$c-grey                     : #646464;