/* ------------------------------------------------------------ *\
	Arrow-up
\* ------------------------------------------------------------ */

.arrow-up {
    position: relative;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
}