/* ------------------------------------------------------------ *\
	Linkedin
\* ------------------------------------------------------------ */

@import '../generic/variables';

.linkedin {
    transition: color .3s ease-in-out;
    font-size: 20px;
    
    &:hover {
        color: $c-base;
    }
}