/* ------------------------------------------------------------ *\
    list hashtags
\* ------------------------------------------------------------ */
@import '../generic/variables';

.list-hashtags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 13px;

    a {
        text-decoration: none;
        font-size: 18px;
        transition: color .3s ease-in-out;
     }

     li {
        background-color: $c-white;
        flex: 0 0 29%;
        padding-inline: 10px ;
        padding-block: 5px;
     }

     li:not(:last-child) {
        margin-right: 15px;
     }

     li:hover a {
      color: $c-base;
     }
}
