/* ------------------------------------------------------------ *\
	Logo
\* ------------------------------------------------------------ */

.logo {
    position: absolute;
    top: 20px;
    left: 0;
    margin-left: 50px;
    z-index: 1;
}