/* ------------------------------------------------------------ *\
	Rating
\* ------------------------------------------------------------ */

.rating {
    ul {
        list-style: none;
        display: flex;
        font-size: 14px;
        color: hsl(36, 88%, 66%)
    }

    li:not(:last-child) {
        margin-right: 5px;
    }
}