/* ------------------------------------------------------------ *\
	Section blue
\* ------------------------------------------------------------ */

.section-blue {
    background-color: #edf2f5;
    padding-block: 50px ;

    .section__inner {
        display: flex;
        flex-wrap: wrap;

         @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }
    .section__box {
        flex: 0 0 50%;
        text-align: center;
        background-color: #fff;
        min-height: 454px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media screen and (max-width: 550px) {
            min-height: unset;
            padding-block: 20px;
        }
    }

    .section__entry {
        max-width: 422px;
        width: 100%;
        margin: 0 auto;
    }

    h2 {
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: inline-block;
    }
}

/* section img small */

.section__image--sm {
    margin-bottom: 16px;
}

.section__image--sm img {
    width: 90px;
}