/* ------------------------------------------------------------ *\
	Section beige
\* ------------------------------------------------------------ */

.section-beige {
    padding-block: 120px;
    background-color: #FAF9F6;

     @media screen and (max-width: 550px) {
           padding-block: 80px;
        }
    
    .section__head {
        max-width: 443px;
         width: 100%;
         margin: 0 auto;
         text-align: center;
         font-size: 15px;
         line-height: 1.4;
         margin-bottom: 40px;
      }

      h6 {
        margin-bottom: 18px;
        text-transform: uppercase;
        }

      .section__head > h6 {
         position: relative;
        font-weight: 500;
        z-index: 1;
      }

      .section__head > h6:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 135px;
        height: 11px;
        transform: skew(-12deg) translateX(-50%);
        background: rgba(238, 111, 87, 0.5);
        margin-left: -13px;
        z-index: -1;
      }

      h2 {
        margin-bottom: 15px;
      }
}