/* ------------------------------------------------------------ *\
	Section-red
\* ------------------------------------------------------------ */

.section-red {
    background: linear-gradient(109.6deg, rgba(113, 14, 51, 0.83) 15.2%, rgba(217, 43, 23, 0.95) 96.8%);    
    padding-block: 100px;

    h6 {
        max-width: 150px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        font-size: 24px;
        margin-bottom: 40px;
    }
}